.flex-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 10, 10);
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .nome{
    display: flex;
    flex-direction: row;
    background-color: rgb(231, 247, 10);
    margin: 10px;
    text-align: left;
    line-height: 75px;
    font-size: 30px;
    width: 10px;
    padding: 60px;
}